<div class="map-japan">
  <%= image_tag asset_path('map-japan.png'), :size => '1000x1000' %>
  
  <% for i in 0..8 do %>
    <% case i when 0 %>
        <div class="hokkaido area">
        <h3>北海道</h3>
      <% when 1 then %>
        <div class="tohoku area">
        <h3>東北</h3>
      <% when 2 then %>
        <div class="kanto area">
        <h3>関東</h3>
      <% when 3 then %>
        <div class="chubu area">
        <h3>中部</h3>
      <% when 4 then %>
        <div class="kinki area">
        <h3>近畿</h3>
      <% when 5 then %>
        <div class="chugoku area">
        <h3>中国</h3>
      <% when 6 then %>
        <div class="shikoku area">
        <h3>四国</h3>
      <% when 7 then %>
        <div class="kyushu area">
        <h3>九州</h3>
      <% when 8 then %>
        <div class="okinawa area">
        <h3>沖縄</h3>
      <% else %>
        <div>
    <% end %>
    <% area_name = area_list(i.to_s) %>
      <% area_name.each do |area| %>
        <%= link_to area["name"], content_area_path(area["name"]) %>
      <% end %>
    </div>
  <% end %> 