// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
    background-color: #0A0A54;
    height: 70px;
    color: #fff;
    padding: 20px;

    .title {
        text-align: center;
    }

    a {
        color: #fff;
    }
}

.manage-sidebar {
    background-color: #ECF7FD;
    width: 180px;
    height: 210px;
    padding-left: 40px;
    margin-right: 50px;

    ul li {
        list-style: none;
        margin: 20px 0;

        a {
            color: #000;
        }
    }
}

/////////////
// general //
/////////////

.pagination {
    text-align: center;
    margin: 30px auto 0;
}

.paging {
    margin-left: 370px;
}

.manage-container {
    margin-top: 30px;
}

.manage {

    h2 {
        margin: 10px 0;
    }

    .form_field {
        margin: 5px 0;

        input[type="submit"] {
            margin-left: auto;
            display: block;
        }
    }

    table {
        width: 900px;
        text-align: center;
        border-collapse: separate;
        border-spacing: 20px 0px;
        table-layout: fixed;
        user-select: none;

        th {
            width: 50%;
            word-wrap: break-word;
            border-bottom: 1px solid #000;
        }

        td {
            width: 10%;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .table-thumb {
            width: 20%;
        }
    }

    ul li {
        list-style: none;
    }
}

.spot-list {
    margin-bottom: 50px;
}

.spot-single {
    
    .form_field {
        margin: 10px 0;

        textarea {
            margin-top: 5px;
            display: block;
        }
    }
}

.spot-images {
    width: 960px;
    margin-bottom: 50px;

    .form_field input[type="submit"] {
        margin-left: 0;
        margin-right: auto;
    }
}

.image-display {
    display: flex;
    flex-wrap: wrap;

    img {
        display: block;
    }

    .image {
        width: 300px;
        margin: 10px;
        margin-bottom: 5px;
    }

    button {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
}

.works-login {
    width: 180px;
    border: solid 1px #000;
    padding: 10px;
    margin-top: 30px;
    margin-left: 50px;
    
    .form_field input[type="submit"] {
        margin-left: inherit;
        margin-right: auto;
    }
}